<% #TODO: make all this custom error messages dependant of @user.errors cause we want ta avoid double error checking and redundant error displaing mechanics %>

<input type="text" style="display: none;" hidden="hidden" name="publickey" id="publickey" value="<%= @publickey %>"/>

<% if @user.errors.any? %>
    <div id="error_explanation" class="error">
      <h3><%= pluralize(@user.errors.count, "error") %> happened:</h3>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
<% end %>

<% form_params =  @islogin ? {url: request.original_url} : {} %>
	<%= form_for(@user, form_params) do |f| %>
	<%= render 'users/form_common' %>

	<%= render 'users/username_field', f: f, for_new: !@islogin %>
	<%= render 'users/password_field', f: f, for_new: !@islogin %>
	<% if @islogin %>
		<div class="field">
		    <%= check_box :login, :remember %>
			<%= label :login, :remember, t('Remember me'), :class => "noalign"%>
		</div>
	<% else %>
		<%= render 'users/password_confirmation_field', f: f, for_new: true %>
		<%= render 'users/email_field', f: f, for_new: true %>
	<% end %>
<%= f.submit id:'user-submit', value:  (yield :action), :class => "btn", data: { disable_with: ( t('In progress')) }  %>
<% end %>
