<p style="color: green"><%= notice %></p>

<%= render @word_set %>

<div>
  <%= link_to "Edit this word set", edit_word_set_path(@word_set) %> |
  <%= link_to "Back to word sets", word_sets_path %>

  <%= button_to "Destroy this word set", @word_set, method: :delete %>
</div>
