<div id="gameboard">


</div>
<div id="shulte-save-response">


</div>
<script type="text/javascript"> //consider moveing to separate file
show_start_button();
</script>
<%= form_with(model: shulte, id: 'shulte_form') do |form| %>
  <% if shulte.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(shulte.errors.count, "error") %> prohibited this shulte from being saved:</h2>

      <ul>
        <% shulte.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :time %>
    <%= form.number_field :time, id: :time %>
  </div>

  <div>
    <%= form.label :mistakes %>
    <%= form.number_field :mistakes, id: :mistakes %>
  </div>

  <div>
    <%= form.label :size %>
    <%= form.number_field :size, id: :size %>
  </div>

  <div>
    <%= form.label :shuffle %>
    <%= form.number_field :shuffle, id: :shuffle %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
