<div id="<%= dom_id shulte %>">
  <p>
    <strong>User:</strong>
    <%= shulte.user_id %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= shulte.time %>
  </p>

  <p>
    <strong>Mistakes:</strong>
    <%= shulte.mistakes %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= shulte.size %>
  </p>

  <p>
    <strong>Shuffle:</strong>
    <%= shulte.shuffle %>
  </p>

</div>
