<%
n = locals[:params][:n]
source_dialect_id = locals[:params][:source_dialect_id]
target_dialect_id = locals[:params][:target_dialect_id]
option_dialect_id = locals[:params][:option_dialect_id]
identificator = "id#{pick_word_in_set.id}n#{n}s#{source_dialect_id}t#{target_dialect_id}o#{option_dialect_id}"
optionboard_id = "optionboard_#{identificator}"
div_id = "pick_word_in_set_#{identificator}_div"
form_id = "test_pick_#{identificator}_form"
picked_id = "test_pick_#{identificator}_input"
%>
<div class="pick_word_in_set" id="<%= div_id %>">
<%# if correct %>
  <div class="optionboard" id="<%= optionboard_id %>">
    <svg class="fit-text source-word" xmlns="http://www.w3.org/2000/svg">
      <text dominant-baseline="middle" text-anchor="middle">
      </text>
    </svg>
    <p class="comment-word">Kana Transcription</p>
    <%# translations&.each do |translation| %>
    <% (1..9).each do |i| %>
      <button type="button">
        <div class="option-wrap">
            <span class="option-marker"><%=i%>:</span>
            <span class="option-text"></span>
        </div>
      </button>
    <% end %>
    <button type="button" class="btn-dunno"  >
      <div class="option-wrap">
        <span class="option-marker">0:</span>
        <span class="option-text"> Don't know </span>
      </div>
    </button>
    <button type="button" onclick="moveNewPick(pick_model_<%= identificator %>)">
      <div class="option-wrap">
        <span class="option-marker">enter:</span>
        <span class="option-text"> Next </span>
      </div>
    </button>
  </div>
<%# end %>
</div>

<script>
  var declared_pick_model_inits;
  try {
    pick_model_inits = pick_model_inits? pick_model_inits : [];
    declared_pick_model_inits = true;
  } catch(e) {
    declared_pick_model_inits = false;
  }
  pick_model_inits = declared_pick_model_inits ? pick_model_inits : [];

  var declared_loadedPickWordInSet<%= identificator %>;
  try {
    isLoadedPickWordInSet<%= identificator %>;
    declared_loadedPickWordInSet<%= identificator %> = true;
  } catch(e) {
    declared_loadedPickWordInSet<%= identificator %> = false;
  }
  isLoadedPickWordInSet<%= identificator %> = declared_loadedPickWordInSet<%= identificator %> ? isLoadedPickWordInSet<%= identificator %> : false;


  function pick_model_<%= identificator %>_load() {
    if(isLoadedPickWordInSet<%= identificator %>) {
      console.log(`=== already loaded`);
      var pick_div = document.getElementById("<%= div_id %>");
      if(pick_div == null){
        console.log(`=== pick_div null`);
        document.removeEventListener('turbolinks:load', pick_model_<%= identificator %>_load);
        isLoadedPickWordInSet<%= identificator %> = false;
        return;
      }
      //pick_model_<%= identificator %> = form_form_model_from(pick_div);
      fill_form(pick_model_<%= identificator %>);
      return;
    }
    dunnoText = '<%=t("I don't know").html_safe%>';
    nextText = '<%=t("Next").html_safe%>';
    var pick_div = document.getElementById("<%= div_id %>");
    if(pick_div == null){
      console.log(`=== not yet loaded but pick_div is already null`);
      //document.removeEventListener('turbolinks:load', pick_model_<%= identificator %>_load);
      return;
    }
    var declaredFormFormFrom;
    try {
      form_form_model_from;
      declaredFormFormFrom = true;
    } catch(e) {
      declaredFormFormFrom = false;
    }
    if(!declaredFormFormFrom || form_form_model_from == null) {
      console.log(`=== form_form_model_from null`);
      return;
    }
    console.log(`=== loading`);
    isLoadedPickWordInSet<%= identificator %> = true;
    <% form_model_id = "pick_model_#{identificator}" %>
    <%= form_model_id %> = form_form_model_from(pick_div);
    data_preload_url = "<%= data_preload_url %>";
    pick_word_in_sets_url = "<%= pick_word_in_sets_url %>";
    <%= form_model_id %>.locals = <%= locals.to_json.html_safe  %>;
    <%= form_model_id %>.params = <%= locals[:params].to_json.html_safe  %>;
    <%= form_model_id %>.pickWordInSetN = <%= locals[:params][:n] || 0 %>;
    <%= form_model_id %>.sourceDialectId = <%= locals[:params][:source_dialect_id] || 0 %>;
    <%= form_model_id %>.targetDialectId = <%= locals[:params][:target_dialect_id] || 0 %>;
    <%= form_model_id %>.optionDialectId = <%= locals[:params][:option_dialect_id] || 0 %>;
    <% ids = locals[:ids]%>
    <% ids = if defined?(ids) && (!ids.nil?) then ids else [] end %>
    <% ids = if ids.empty? && !pick_word_in_set.id.nil? then [pick_word_in_set.id] else ids end %>
    <% ids = if ids.include?(pick_word_in_set.id) then ids else ids + [pick_word_in_set.id] end %>
    <% preloadedData = DataPreloadService.fetch_data({"PickWordInSet" => ids}, recursive: true) %>
    receiveData(<%= preloadedData.to_json.html_safe %>, ()=> {
      // preloadData({"PickWordInSet":[<%=identificator %>]}, ()=> { // this shoud send request instead of prerender in place of receiveData
      <% if pick_word_in_set.id.nil? %>
        fill_form(<%= form_model_id %>)
      <% else %>
        moveNewPick(<%= form_model_id %>, <%= pick_word_in_set.id %>)
      <% end %>
    //pick_word_in_set_<%=identificator %> = recordManager.objects['PickWordInSet'][<%= identificator  %>];
    //pick_model_<%= identificator %>.data = pick_word_in_set_<%=identificator %>;
    //fill_form(pick_model_<%= identificator %>)
      <% unless locals[:activated] %>
         pick_model_<%= identificator %>.hideNextButton();
      <%end%>
    });
    formModels['PickWordInSet'] = <%= form_model_id %>;
  };
  pick_model_inits.push( pick_model_<%= identificator %>_load);
  document.addEventListener('turbolinks:load', pick_model_<%= identificator %>_load);

</script>
