<div id="<%= dom_id pick_word_in_set %>">

  <p>
    <strong>Correct:</strong>
    <%= pick_word_in_set.correct_id %>
  </p>

  <p>
    <strong>Picked:</strong>
    <%= pick_word_in_set.picked_id %>
  </p>

  <p>
    <strong>Set:</strong>
    <%= pick_word_in_set.translation_set_id %>
  </p>

  <p>
    <strong>Version:</strong>
    <%= pick_word_in_set.version %>
  </p>

</div>
