<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>
    <%= yield(:title) %>
    <%= unless yield(:title).empty? then ' | ' end %>
    Omniscient
  </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
</head>
<body>

  <div id ="footer-pusher-workaround">
    <%= render 'layouts/header' %>
    <div id ="main-side-padding">

    	<main id="main">
        <% if notice %>
          <p id="notice" class="error"><%= notice %></p>
        <% end %>

        <h2><%= yield(:title) %></h2>
      	<%= yield %>
    	</main>
    </div>
  </div>
  <%= render 'layouts/footer' %>

</body>
</html>
